.nav_menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
    background-color: darkcyan;
    padding: 20px 0;
}

.nav_menu a {
    color: white;
    text-decoration: none;
}